/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(208, 92%, 54%);
    --first-color-alt: hsl(208, 88%, 50%);
    --title-color: hsl(220, 68%, 4%);
    --white-color: hsl(0, 0%, 100%);
    --text-color: hsl(220, 15%, 66%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(220, 50%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", system-ui;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --tiny-font-size: .688rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --big-font-size: 3rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --tiny-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.30s cubic-bezier(.215, .61, .355, 1);
}

body {
    min-height: 500vh;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.spacer {
    margin: 10px;
    width: 100%;
    height: 1px;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1rem;
}

/*=============== LOGIN  ===============*/
.login {
    position: relative;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.login__blob {
    display: none;
}

.login__title {
    font-size: var(--big-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 2rem;
}

.login__box {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 1rem;
}

.login__input {
    background: none;
    width: 100%;
    padding: 1.5rem 2.5rem 1.5rem 1.25rem;
    font-weight: var(--font-semi-bold);
    border: 3px solid transparent;
    border-radius: 1rem;
    z-index: 1;
    transition: border-color .4s;
}

.login__input:autofill {
    transition: background-color 6000s, color 6000s;
}

.login__label {
    position: absolute;
    left: 1.25rem;
    font-weight: var(--font-semi-bold);
    transition: transform .4s, font-size .4s, color .4s;
}

.login__icon {
    position: absolute;
    right: 1rem;
    font-size: 1.25rem;
    transition: color .4s;
}

.login__password {
    cursor: pointer;
    z-index: 10;
}

.login__forgot {
    display: block;
    width: max-content;
    margin: 1rem 0 0 auto;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    transition: color .4s;
}

.login__forgot:hover {
    color: var(--first-color);
}

.login__button {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding-block: 1.5rem;
    border-radius: 4rem;
    margin-block: 2rem;
    cursor: pointer;
    transition: background-color .4s, box-shadow .4s;
}

.login__button:hover {
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 24px hsla(208, 92%, 32%, .3);
}

.login__social {
    margin-bottom: 2rem;
}

.login__social-title {
    text-align: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.login__social-img {
    width: 1rem;
}

.login__social-links {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.login__social-link {
    width: 32px;
    height: 32px;
    background-color: var(--body-color);
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, .1);
    border-radius: .5rem;
    display: grid;
    place-items: center;
    transition: transform .4s;
}

.login__social-link:hover {
    transform: translateY(-.25rem);
}

.login__switch {
    text-align: center;
    font-size: var(--small-font-size);
}

.login__switch button {
    background: none;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: color .4s;
}

.login__switch button:hover {
    color: var(--first-color-alt);
}

.login__access,
.login__register {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    transition: transform .4s, opacity .4s .1s;
}

.login__register {
    transform: translateX(15rem);
    opacity: 0;
    pointer-events: none;
}

/* Input focus move up label */
.login__input:focus~.login__label {
    transform: translateY(-12px);
    font-size: var(--tiny-font-size);
}

.login__input:focus {
    padding-block: 2rem 1rem;
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus)~.login__label {
    transform: translateY(-12px);
    font-size: var(--tiny-font-size);
}

.login__input:not(:placeholder-shown).login__input:not(:focus) {
    padding-block: 2rem 1rem;
}

/* Input focus color */
.login__input:focus {
    border-color: var(--first-color);
}

.login__input:focus~.login__label,
.login__input:focus~.login__icon {
    color: var(--first-color);
}

/* Show hide login & create account */
.active .login__access {
    transform: translateX(15rem);
    opacity: 0;
    pointer-events: none;
}

.active .login__register {
    transform: translateX(0);
    opacity: 1;
    pointer-events: initial;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 540px) {
    .login__area {
        width: 380px;
        margin-inline: auto;
    }
}

@media screen and (min-width: 350px) and (max-height: 600px) {
    .login {
        height: 760px;
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .login__area {
        width: 460px;
        margin: initial;
    }

    .login__access,
    .login__register {
        width: 600px;
    }

    .login__title {
        text-align: initial;
        margin-bottom: 3rem;
    }

    .login__button {
        margin-bottom: 3rem;
    }

    .login__group {
        grid-template-columns: repeat(2, 1fr);
    }

    .login__blob {
        display: block;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
    }

    .login__img {
        transform: translate(0rem, 0rem);
    }
}

























.profile__menu {
    position: fixed;
    top: 25px;
    right: 30px;
}

.profile__menu .action {
    display: block;
    width: 54px;
    height: 54px;
    background-color: #222533;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile__menu .action img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__menu .menu {
    width: 310px;
    padding: 30px;
    background-color: #222533;
    border-radius: 10px;
    position: absolute;
    top: 75px;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

.profile__menu .menu.active {
    opacity: 1;
    visibility: visible;
}

.profile__menu .menu::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #222533;
    border-top-left-radius: 3px;
    position: absolute;
    top: -8px;
    right: 19px;
    transform: rotate(45deg);
}

.profile__menu .menu .profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile__menu .menu .profile img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    user-select: none;
}

.profile__menu .menu .profile .info {
    margin-left: 15px;
}

.profile__menu .menu .profile .info h2 {
    color: #dadada;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 4px;
}

.profile__menu .menu .profile .info p {
    color: #7d8193;
    font-size: 16px;
    font-weight: 300;
}

.profile__menu .menu .btn {
    width: 250px;
    height: 53px;
    color: #e5e5e5;
    background-color: #1a1c29;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.profile__menu .menu .btn i {
    width: 20px;
    margin-right: 5px;
    user-select: none;
}

.profile__menu .menu .btn:hover {
    background-color: #292c3d;
}

.profile__menu .menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    margin-bottom: 5px !important;
    background-color: transparent;
}

.profile__menu .menu ul li:hover {
    background-color: #292c3d;
}

.profile__menu .menu ul li:last-child {
    margin: 0;
}

.profile__menu .menu ul li a {
    color: #e5e5e5;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.profile__menu .menu ul li i {
    width: 26px;
    margin-right: 10px;
    user-select: none;
}














.main {
    margin: 0 auto;
    width: 60vw;
    margin-top: 3rem;
    height: auto;
}


















.header {
    position: relative;
}

.header_image {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 20px;
}

.header_image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.header_image img:hover {
    transform: scale(1.020);
}

.img__container {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 50%;
    border: 2px solid #fff;
}

.img__container img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.img__container img:hover {
    transform: scale(1.020);
}

.img__container span {
    position: absolute;
    background: #2afa6a;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 21px;
    right: 9px;
    border: 2px solid #fff;
}

.info_user {
    margin-top: 4rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_user .left,
.info_user .right {
    display: flex;
    justify-content: center;
    align-items: start;
}

.info_user .left {
    flex-direction: column;
}

.info_user .left h2 {
    color: #1a1c29;
}

.info_user .right {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info_user .right .box_report {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    background-color: #1a1c29;
    color: #e5e5e5;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.info_user .right .not_allow {
    cursor: not-allowed !important;
    background-color: #c03838 !important;
}

.info_user .right .not_allow:hover {
    background-color: #DA6C6C !important;
}

.info_user .right .unfriend {
    background-color: #f8cf6e !important;
}

.info_user .right .unfriend:hover {
    background-color: #c9a143 !important;
}

.info_user .right .box_report:hover {
    background-color: #292c3d;
}

.info_user .right .btn {
    width: 180px;
    height: 53px;
    color: #e5e5e5;
    background-color: #1a1c29;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_user .right .btn i {
    width: 20px;
    margin-right: 5px;
    user-select: none;
}

.info_user .right .btn:hover {
    background-color: #292c3d;
}











.wrapping_page {
    margin-top: 4rem;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.wrapping_page .left_card {
    position: sticky;
    top: 10px;
    width: 35%;
    min-height: 330px;
    border-radius: 20px;
    background-color: #f3f3f3;
}

.wrapping_page .right_card {
    width: 80%;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapping_page .right_card .card_post {
    min-height: 330px;
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 1rem;
}

.wrapping_page .right_card .card_post .usr_info_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapping_page .right_card .card_post .usr_info_post .usr_info_post_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapping_page .right_card .card_post .usr_info_post .usr_info_post_left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.wrapping_page .right_card .card_post .usr_info_post .usr_info_post_left h4 {
    font-size: 15px;
    color: #1a1c29;
}

.wrapping_page .right_card .card_post .usr_info_post .usr_info_post_left p {
    font-size: 13px;
}

.wrapping_page .right_card .card_post .usr_info_post .usr_info_post_right {
    display: flex;
    align-items: center;
}

.wrapping_page .right_card .card_post .usr_info_post .usr_info_post_right a {
    text-decoration: none;
    color: #6c9cda;
}

.wrapping_page .right_card .card_post .usr_info_post .usr_info_post_right a:hover {
    color: #3265a7;
}

.wrapping_page .right_card .card_post .img_post {
    margin-top: 1.3rem;
    min-height: 30px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
}

.wrapping_page .right_card .card_post .img_post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapping_page .right_card .card_post .img_post img:hover {
    transform: scale(1.020);
}

.wrapping_page .right_card .card_post .title_post {
    margin-top: 1.7rem;
}

.wrapping_page .right_card .card_post .title_post h3 {
    color: #1a1c29;
    margin-bottom: 6px;
}

.wrapping_page .right_card .card_post .title_post p {
    font-size: 15px;
    color: #292c3d;
}

.wrapping_page .right_card .card_post .action_control {
    margin-top: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.wrapping_page .right_card .card_post .action_control .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    border-radius: 7px;
}

.wrapping_page .right_card .card_post .action_control .box:hover {
    background-color: #dedfe0;
}

.wrapping_page .right_card .card_post .action_control .box a {
    text-decoration: none;
    color: #1a1c29;
}

.wrapping_page .right_card .card_post .action_control .box a i {
    margin-right: 10px;
}

.wrapping_page .right_card .card_post .action_control .box a .fa-heart {
    color: #c03838;
}

.wrapping_page .right_card .card_post .action_control .box a .fa-comment {
    color: #6c9cda;
}

.wrapping_page .right_card .card_post .action_control .box a .fa-share {
    color: #c9a143;
}

.wrapping_page .right_card .no_post {
    min-height: auto;
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 1rem;
}

.wrapping_page .right_card .no_post .title_no_post {
    display: flex;
    align-items: center;
}

.wrapping_page .right_card .no_post .title_no_post h2 {
    font-size: 30px !important;
}

.wrapping_page .right_card .no_post .title_no_post i {
    font-size: 30px !important;
    margin-right: 10px;
}

.wrapping_page .right_card .no_post p {
    margin-top: 10px;
}

.wrapping_page .right_card .create_a_post {
    min-height: auto;
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.wrapping_page .right_card .create_a_post h2 {
    color: #1a1c29;
    margin-bottom: 10px;
}

.wrapping_page .right_card .create_a_post form {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.wrapping_page .right_card .create_a_post .box_insert {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapping_page .right_card .create_a_post .box_insert .btn {
    width: 180px;
    height: 53px;
    color: #1a1c29;
    background-color: #dedfe0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wrapping_page .right_card .create_a_post .box_insert .btn i {
    width: 20px;
    margin-right: 5px;
    user-select: none;
}

.wrapping_page .right_card .create_a_post .box_insert .btn:hover {
    background-color: #d1d1d1;
}


.wrapping_page .right_card .create_a_post .login__box {
    width: 100%;
}

/* Input focus move up label */
.wrapping_page .right_card .create_a_post .login__input:focus~.login__label {
    transform: translateY(-12px);
    font-size: var(--tiny-font-size);
}

.wrapping_page .right_card .create_a_post .login__input:focus {
    padding-block: 2rem 1rem;
}

/* Input focus sticky top label */
.wrapping_page .right_card .create_a_post .login__input:not(:placeholder-shown).login__input:not(:focus)~.login__label {
    transform: translateY(-12px);
    font-size: var(--tiny-font-size);
}

.wrapping_page .right_card .create_a_post .login__input:not(:placeholder-shown).login__input:not(:focus) {
    padding-block: 2rem 1rem;
}

/* Input focus color */
.wrapping_page .right_card .create_a_post .login__input:focus {
    border-color: var(--first-color);
}

.wrapping_page .right_card .create_a_post .login__input:focus~.login__label,
.wrapping_page .right_card .create_a_post .login__input:focus~.login__icon {
    color: var(--first-color);
}

.wrapping_page .left_card {
    padding: 1rem;
    color: #1a1c29;
}

.wrapping_page .left_card .box {
    margin-top: 1.7rem;
}

.wrapping_page .left_card .box .box_info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.wrapping_page .left_card .box .box_info a {
    text-decoration: none;
    color: #1a1c29;
    font-weight: 600;
    font-size: 14px;
}

.wrapping_page .left_card .box .box_info i {
    font-size: 14px;
}

.wrapping_page .left_card .box .row {
    flex-direction: row;
}

.wrapping_page .left_card .box .row {
    gap: 20px;
}

























@media (max-width: 1440px) {
    .main {
        width: 80vw;
    }
}



@media (max-width: 980px) {
    .main {
        width: 90vw;
        margin-top: 6rem;
    }

    .wrapping_page {
        flex-direction: column;
    }

    .wrapping_page .right_card {
        width: 100%;
    }

    .wrapping_page .left_card {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }

    .profile__menu {
        z-index: 999;
    }
}






@media (max-width: 550px) {
    .wrapping_page .right_card .create_a_post .box_insert {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 18px;
    }

    .wrapping_page .right_card .create_a_post .box_insert .btn {
        width: 100%;
    }

    .btn {
        padding: 7px 10px !important;
        font-size: 14px !important;
        height: 37px !important;
        width: auto !important;
    }

    .box_report {
        padding: 7px 10px !important;
        font-size: 14px !important;
        height: 37px !important;
        width: auto !important;
    }

    .info_user .left h2 {
        font-size: 16px;
    }

    .info_user .left p {
        font-size: 14px;
    }

    .wrapping_page .right_card .card_post .action_control .box a {
        font-size: 12px !important;
        padding: 2px;
    }

    .wrapping_page .right_card .card_post .action_control .box i {
        margin-right: 4px;
    }

    .card_post {
        padding: 4px !important;
    }

    .wrapping_page .right_card .card_post .action_control .box {
        padding: 2px;
    }

    .main {
        width: 98vw;
    }
}





















.followers {
    margin-top: 7rem;
}

.followers .follow {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.followers .follow .box_follow {
    width: 45%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dadada2a;
}

.followers .follow .box_follow:hover {
    background-color: #f1f1f1;
}

.followers .follow .box_follow .left .follow_img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.followers .follow .box_follow .left .follow_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.followers .follow .box_follow .left .follow_img img:hover {
    transform: scale(1.025);
}

.followers .follow .box_follow .left {
    display: flex;
    align-items: center;
}

.followers .follow .box_follow .left .text_follow {
    margin-left: 10px;
    height: 100%;
}

.followers .follow .box_follow .left .text_follow h3 {
    color: #1a1c29;
}

.followers .follow .box_follow .left .text_follow p {
    font-size: 14px;
    margin-top: 5px;
    color: #7d8193;
}

.followers .follow .box_follow .right span i {
    font-size: 20px;
    color: #1a1c29;
    cursor: pointer;
}

.followers .follow .box_follow .right span {
    cursor: pointer;
}






























.dashboard {
    width: 100%;
    margin-top: 5rem;
}

.dashboard h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #1a1c29;
    margin-bottom: 5px;
}

.dashboard h1 span {
    font-weight: 300;
}

.dashboard .box_dash {
    margin-top: 4rem;
}

.dashboard .tab {
    overflow: hidden;
    border: 1px solid #f5f5f5;
    background-color: #f1f1f1;
    border-radius: 7px;
    padding: 10px;
}

.dashboard .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 7px;
    margin: 10px;
}

.dashboard .tab button:hover {
    background-color: #ddd;
}

.dashboard .tab button.active {
    background-color: #ccc;
}

.dashboard .tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    margin-top: 10px;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dashboard .box_dash .tabcontent #radarChart {
    width: 600px;
    margin: auto;
    display: block;
}

.dashboard .box_dash .tabcontent .info_account_p {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 2rem;
    background-color: #f1f1f1;
    border-radius: 7px;
}

.dashboard .box_dash .tabcontent .info_account_p h3 {
    color: #1a1c29;
    margin-bottom: 10px;
}

.dashboard .box_dash .tabcontent .info_account_p p {
    margin-top: 4px;
}

.dashboard .box_dash .tabcontent .info_account_p .ok {
    color: #1db44a;
    font-weight: 700;
}

.dashboard .box_dash .tabcontent .info_account_p .medium {
    color: #c9a143;
    font-weight: 700;
}

.dashboard .box_dash .tabcontent .info_account_p .suspended {
    color: #c03838;
    font-weight: 700;
}

@media (max-width: 768px) {
    .dashboard .box_dash .tabcontent #radarChart {
        width: 450px;
        margin: auto;
        display: block;
    }
}

@media (max-width: 550px) {
    .dashboard .box_dash .tabcontent #radarChart {
        width: 280px;
        margin: auto;
        display: block;
    }

    .dashboard {
        margin: 10px;
        margin-left: 0px !important;
        margin-top: 3.5rem !important;
    }

    .dashboard h1 {
        font-size: 18px;
    }

    .dashboard p {
        font-size: 13px;
    }

    .dashboard .box_dash .tab {
        display: flex;
        padding: 2px !important; 
    }

    .dashboard .box_dash .tab .tablinks {
        font-size: 12px !important;
        margin: 3px !important;
    }
}